*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    height: 100vh;
    overflow: hidden;
}
.wrap-everything{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}
